<?xml version="1.0" encoding="utf-8"?>
<!-- Last edited 2025-02-21 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission needed for location providers -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <!-- Permissions needed for reverse geocoding -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:name=".MyPosition"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        android:theme="@style/Theme.AppCompat"
        android:enableOnBackInvokedCallback="true"
        tools:ignore="DataExtractionRules,GoogleAppIndexingWarning"
        tools:targetApi="tiramisu">

        <activity
            android:name=".MyPositionActivity"
            android:exported="true"
            android:label="@string/title_activity_my_position"
            tools:targetApi="tiramisu">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.wistein.myposition.ConverterActivity"
            android:label="@string/title_activity_converter"
            android:parentActivityName=".MyPositionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MyPositionActivity"/>
        </activity>

        <activity
            android:name="com.wistein.myposition.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MyPositionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MyPositionActivity"/>
        </activity>

        <activity
            android:name="com.wistein.myposition.AboutDialog"
            android:label="@string/title_activity_about_dialog">
        </activity>

        <activity
            android:name="com.wistein.myposition.HelpDialog"
            android:label="@string/title_activity_help_dialog">
        </activity>

        <activity
            android:name="com.wistein.myposition.DummyActivity"
            android:label="@string/title_activity_dummy"
            android:parentActivityName=".MyPositionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MyPositionActivity"/>
        </activity>

        <service
            android:name="com.wistein.myposition.LocationService"
            android:foregroundServiceType="location"
            android:exported="false">
        </service>

    </application>

</manifest>
