<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wistein.myposition"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission needed for network location provider -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Permission needed for GPS location provider -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- Permission needed for background location requests when compiling for API29 -->
	<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <!-- Permissions needed for reverse geocoding -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:name=".myPosition"
        android:label="@string/app_name"
        android:allowBackup="false"
        tools:ignore="GoogleAppIndexingWarning"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>

        <activity
            android:name=".AboutDialog"
            android:label="@string/title_activity_about_dialog">
        </activity>

        <activity
            android:name=".HelpDialog"
            android:label="@string/title_activity_help_dialog">
        </activity>

        <activity
            android:name=".ConverterActivity"
            android:label="@string/title_activity_converter">
        </activity>

        <activity
            android:name=".MyPositionActivity"
            android:label="@string/title_activity_my_position">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".DummyActivity"
            android:label="@string/title_activity_dummy"
            android:parentActivityName=".MyPositionActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MyPositionActivity"/>
        </activity>

        <service android:name=".LocationService"
                 android:exported="false">
        </service>

    </application>

</manifest>
